.page-title {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    margin-bottom: 1em;
    margin-top: 1em;
}
header {
    background: url('https://i.pinimg.com/736x/a8/fd/33/a8fd33f012f4a5370f8a5b047893480d.jpg');
    text-align: center;
    color: #2c3034;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

.status-bar {
    width: 200px !important;
    border-radius: 2em;
    height: 20px !important;
    background: -webkit-linear-gradient(90deg, rgb(163, 0, 149) 15%, rgb(255, 166, 0) 100%);
}

.card-header{
    font-family: 'Ruluko', sans-serif;
    font-size: x-large !important;
    font-weight: bold !important;
}

.card-body {
    display: inline-block !important;
}

.percent {
    margin-top: -2px !important;
    margin-bottom: 6px !important;
    font-family: 'Ruluko', sans-serif;
    font-size: large !important;
    font-weight: bolder !important;
}

.date{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 6px !important;
}

.nuevop {
    width: 3%;
    height: 3%;
    border-radius: 5px;
    color: #ffae64;
    background-color: #7c65a9;
    border-color: #bf4955;
}
