img {
    margin-left: 1em !important;
}

h1{
    margin-top: -3px !important;
    margin-left: -10px !important;
}

input {
    margin-bottom: -5px !important;
}

button {
    background: white !important;
    color: #ff4023 !important;
    border-color: #ff4023 !important;
}

button:hover {
    background: #ff4023 !important;
    color: white !important;
}